<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>reservation_bot</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/joan/dev/upv_bot/venv/upv_bot/bin/python</string>
            <string>/usr/local/reservation_bot/bot.py</string>
        </array>

        <key>RunAtLoad</key>
        <false/>

        <key>StartCalendarInterval</key>
        <array>
            <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>0</integer></dict>
            <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>1</integer></dict>
            <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>2</integer></dict>
        </array>
    </dict>
</plist>

